<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Evaluate the {{ $ctrlModal.report.orgId | orgNameFromId }} report</h3>
    <p>{{ $ctrlModal.report.title }}</p>
    <p><i>{{ $ctrlModal.report.comments }}</i></p>

</div>
<form  ng-submit="$ctrlModal.ok()">
  <div class="modal-body" id="modal-body">
      
          <div class="form-group">
            <label for="people">People</label>

            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" class="form-control" id="people" placeholder="Amount" required ng-model="$ctrlModal.evaluationResult.people" required>
            </div>
          
            <textarea class="form-control" placeholder="Justification..." rows="3" ng-model="$ctrlModal.evaluationResult.peopleJustification"></textarea>
          </div>

          <div class="form-group">
              <label for="planet">Planet</label>
    
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="planet" placeholder="Amount" required ng-model="$ctrlModal.evaluationResult.planet" required>
              </div>
            
              <textarea class="form-control" placeholder="Justification..." rows="3" ng-model="$ctrlModal.evaluationResult.planetJustification"></textarea>
          </div>

          <div class="form-group">
              <label for="profit">Profit</label>
    
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="profit" placeholder="Amount" required ng-model="$ctrlModal.evaluationResult.profit" required>
              </div>
            
              <textarea class="form-control" placeholder="Justification..." rows="3" ng-model="$ctrlModal.evaluationResult.profitJustification"></textarea>
          </div>

          <div class="form-group">
            <label for="profit">General comments</label>
          
            <textarea class="form-control" placeholder="Any additional thoughts and comments you may have..." rows="3" ng-model="$ctrlModal.evaluationResult.comments"></textarea>
        </div>

  <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="$ctrlModal.cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit">Save</button>
  </div>

</form>