<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Evaluate the {{ $ctrlModal.report.orgId | orgNameFromId }} report</h3>
    <p>{{ $ctrlModal.report.title }}</p>
    <p><i>{{ $ctrlModal.report.comments }}</i></p>

</div>
<form  ng-submit="$ctrlModal.ok()">
  <div class="modal-body" id="modal-body">
      
          <div class="form-group">
            <label for="people">People</label>

            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" class="form-control" id="people" placeholder="Amount" required ng-model="$ctrlModal.evaluationResult.people" required>
            </div>
          
            <textarea class="form-control" placeholder="Comments..." rows="3" ng-model="$ctrlModal.evaluationResult.peopleJustification"></textarea>
          </div>

          <div class="form-group">
              <label for="planet">Planet</label>
    
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="planet" placeholder="Amount" required ng-model="$ctrlModal.evaluationResult.planet" required>
              </div>
            
              <textarea class="form-control" placeholder="Comments..." rows="3" ng-model="$ctrlModal.evaluationResult.planetJustification"></textarea>
          </div>

          <div class="form-group">
              <label for="profit">Profit</label>
    
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="profit" placeholder="Amount" required ng-model="$ctrlModal.evaluationResult.profit" required>
              </div>
            
              <textarea class="form-control" placeholder="Comments..." rows="3" ng-model="$ctrlModal.evaluationResult.profitJustification"></textarea>
          </div>

          <div class="form-group">
            <div ng-repeat="sdg in $ctrlModal.evaluationResult.sdgs track by $index" style="margin-bottom: 10px">

              <div class="row row-no-gutters">
                <div class="col-xs-3">
                  <img ng-src="images/sdg{{ $index + 1 }}.png" height="120">
                </div>
                <div class="col-xs-9">

                  <div class="row">
                    <div class="col-xs-1">
                      <a href ng-click="$ctrlModal.setUnknown()" class="unknown" title="Reset to default">
                        <img src="images/unknown.png" height="25">
                      </a>
                    </div>
                    <div class="col-xs-9">
                      <div class="slidecontainer">
                        <input type="range" min="-100" max="100" value="0" class="slider" id="myRange" ng-model="slider1">
                      </div>
                    </div>

                    <div class="col-xs-2">{{ slider1 }}%</div>


                  </div>

                  <div class="row">
                    <textarea class="form-control" rows="3" placeholder="Comments..."></textarea>
                  </div>

                </div>
              </div> <!-- row -->
            </div> <!-- container -->
          </div> <!-- form group -->




          <div class="form-group">
            <label for="profit">General comments</label>
          
            <textarea class="form-control" placeholder="Any additional thoughts and comments you may have..." rows="3" ng-model="$ctrlModal.evaluationResult.comments"></textarea>
        </div>

  <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="$ctrlModal.cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit">Save</button>
  </div>

</form>