<h1>BaseX home</h1>

<p>This is the alpha release hosted at <a href="https://alpha.basex.com">alpha.basex.com</a></p>

<p>If something doesn't work then <strong>reload page</strong> is your friend.</p>

<p>
Currently implemented features, lean startup MVP:<ul>
<li>see the list of <a href="#!/organisations">organisations</a>, add an organisation</li>
<li>see the list of <a href="#!/reports">reports</a>, add a areport</li>
<li>add evaluation</li>
</ul>
</p>

<p>Next step in the pipeline: displaying the aggregate evaluation (new definition of value).</p>


<h3>Appreciating your support 🙏</h3>

<p>Please contribute feedback and ideas.</p>

<p>Please contribute the crowdsourced evaluation.</p>

<p>Please contribute $1 (or more) on via <a href="https://gitcoin.co/grants/6186/basex-new-definition-of-value">Gitcoin grant</a>.</p>

<p>Even $1 makes a different (not a cliché) because it acts as a signal to "quadratic funding" mechanism.</p>

<h3>Links</h3>
<ul>
<li>Twitter: <a href="https://twitter.com/basexhq">twitter.com/basexHQ</a></li>
<li>Github: <a href="https://github.com/basexhq">github.com/basexHQ</a></li>
<li>Discord: <a href="https://discord.gg/tBF7cGjzsS">discord.gg/tBF7cGjzsS</a></li>
<li>Wiki: <a href="https://www.notion.so/basex/BaseX-new-definition-of-value-f00c2627f82d4a528f6bdf18f64e4ac5">hosted on Notion</a></li>
<li>Gitcoin grant: <a href="https://gitcoin.co/grants/6186/basex-new-definition-of-value">gitcoin.co/grants/6186/basex-new-definition-of-value</a></li>
<li>Book a call: <a href="https://calendly.com/marsxr/basex">calendly.com/marsxr/basex</a> ☎️</li>
</ul>




<!-- This time it is different™ - climate change, pandemic, war, sentient AI, singularity, making life multiplanetary. -->


<!-- <h3>High level overview of the problem</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/SpkDMCatnMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Technical demo of the product</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ge1iE3lstr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
