<h1>BaseX home</h1>


This is the alpha release hosted at <a href="https://alpha.basex.com">alpha.basex.com</a>

You can  and 

You can also evaluate the reports - 

Currently Implemented features, lean startup MVP:
see the <a href="#!/organisations">organisations</a> , add organisation
see the <a href="#!/reports">reports</a>, add areport
add evaluation

Next step in the development pipeline: displaying the evaluations.


<h3>Appreciating your support.</h3>

Please contribute feedback and ideas.

We also encourage you to donate via <a href="https://gitcoin.co/grants/6186/basex-new-definition-of-value">Gitcoin grant</a>.

Even $1 makes a different because it acts as a vote to "quadratic funding" grant mechanism.

Please participate in building a new definition of value.

<h3>Links</h3>
Twitter:
Github:
Discord:
Wiki on Notion:
Gitcoin grant:
Book a call:




<!-- This time it is different™ - climate change, pandemic, war, sentient AI, singularity, making life multiplanetary. -->


<!-- <h3>High level overview of the problem</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/SpkDMCatnMU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Technical demo of the product</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ge1iE3lstr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
