<h1>List of reports</h1>
{{ message }}


<button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">Small modal</button>
    <button type="button" 
        class="btn btn-default" 
        ng-click="$ctrl.open('sm', '.modal-parent')">
            Modal appended to a custom parent
    </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.toggleAnimation()">Toggle Animation ({{ $ctrl.animationsEnabled }})</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.openComponentModal()">Open a component modal!</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.openMultipleModals()">
        Open multiple modals at once 
    </button>
    <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
    <div class="modal-parent">
    </div>



<button ng-click="newReport()">New Report</button>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Organisation</th>
        <th>Title</th>
        <th>Comments</th>
        <th>Date</th>
        <th>Source</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in reports">
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ row.orgID | orgNameFromID}}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.comments }}</td>
        <td>{{ row.date }}</td>
        <td><a href="{{ row.sourceURL }}">source</a></td>
        <td><a href ng-click="evaluate(row)">evaluate</a></td>

      </tr>
    </tbody>
  </table>