<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add a new organisation</h3>

</div>
<form  ng-submit="$ctrlModal.ok()">
  <div class="modal-body" id="modal-body">
      
          <div class="form-group">
            <label for="name">Name</label>

            <div class="input-group">
              <input type="text" class="form-control" id="name" placeholder="Name" required ng-model="$ctrlModal.name" required autofocus>
            </div>
        
          </div>

  <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="$ctrlModal.cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit">Save</button>
  </div>

</form>