<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add a new Report</h3>

</div>
<form  ng-submit="$ctrlModal.ok()">
  <div class="modal-body" id="modal-body">
      
          <div class="form-group">

            <label for="orgName">Organisation<span class="required">*</span></label>
            <div class="input-group">
              <select class="form-control" name="repeatSelect" id="orgName" ng-model="$ctrlModal.selectedOrganisation" required>
                <option value="">Choose an organisation...</option>
                <option ng-repeat="option in $ctrlModal.organisations" value="{{option.orgId}}">{{option.name}}</option>
              </select>
            </div>

            <br>

            <label for="title">Title<span class="required">*</span></label>
            <div class="input-group">
              <input type="text" class="form-control" id="title" placeholder="Title..." required ng-model="$ctrlModal.title" required>
            </div>

            <br>

            <label for="sourceURL">Source URL<span class="required">*</span></label>
            <div class="input-group">
              <input type="url" class="form-control" id="sourceURL" placeholder="https://source..." required ng-model="$ctrlModal.sourceURL" required>
            </div>

            <br>

            <label for="ipfsUpload">Upload to IPFS<span class="required">*</span></label>
            <div class="input-group">
              <input type="file" id="ipfsUpload" custom-on-change="$ctrlModal.upload" required>
              <p class="help-block">If no PDF version available please "print as PDF" and upload the file</p>
              <p class="help-block" ng-show="$ctrlModal.state === 'uploading'"><img src="images/spinner.gif" height="30"></p>
              <p class="help-block" ng-show="$ctrlModal.state === 'uploaded'">IPFS hash: <a href='https://gateway.ipfs.io/ipfs/{{ $ctrlModal.ipfsHash }}'>{{ $ctrlModal.ipfsHash }}</a></p>
            </div>

            <br>

            <label for="comments">Accounting period start<span class="required">*</span></label>
            <div class="input-group">
              <input type="date" class="form-control" ng-model="$ctrlModal.accountingPeriodStart" required>
            </div>

            <br>

            <label for="comments">Accounting period end<span class="required">*</span></label>
            <div class="input-group">
              <input type="date" class="form-control" ng-model="$ctrlModal.accountingPeriodEnd" required>
            </div>
            
            <br>

            <label for="comments">Comments</label>
            <div class="input-group">
              <textarea class="form-control" id="comments" placeholder="Comments... (optional)" ng-model="$ctrlModal.comments"></textarea>
            </div>
       
          </div>

  <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="$ctrlModal.cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit">Save</button>
  </div>

</form>