<h1>List of organisations</h1>

<button ng-click="newOrganisation()">New organisaton</button>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Organisation</th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in orgs">
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ row.name }}</td>

        <!-- <td><a href="{{ row.sourceURL }}">source</a></td>
        <td><a href ng-click="$ctrl.evaluate(row)">evaluate</a></td> -->

      </tr>
    </tbody>
  </table>